<script type="text/javascript">
    var ss;
    var ID = "";
    var selectedIDs = "";
    var Status = "";

    $(document).ready(function () {

        $('#_btnImageView').click(function () {
            ss = 1;
            if (ID == 1) {
                PartialList.GetRowValues(PartialList.GetFocusedRowIndex(), 'ID;', OnGetRowValues);
            }
            else {
                PartialList1.GetRowValues(PartialList1.GetFocusedRowIndex(), 'ID;', OnGetRowValues);
            }
        });

        $('#_bthEditAction').click(function () {
            ss = 2;
            PartialList1.GetRowValues(PartialList1.GetFocusedRowIndex(), 'ID;Status;', OnGetRowValues);
        });

        $('#_btnNewAction').click(function () {
            window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()" + "Create";
        });
    });

    function DbRowClick(s, e) {
        ss = 1;
        s.GetRowValues(s.GetFocusedRowIndex(), 'ID;', OnGetRowValues);
    }

    function _clickMenuAction(s, e) {
        if (e.item.name == "_btnReleaseAction") {
            ss = 5;
            PartialList1.GetRowValues(PartialList1.GetFocusedRowIndex(), 'TrainNo;Status;', OnGetRowValues);
        }

        if (e.item.name == "_mnApprove") {
            ss = 6;
            PartialList.GetRowValues(PartialList.GetFocusedRowIndex(), 'TrainNo;Status;', OnGetRowValues);
        }
        if (e.item.name == "_mnReject") {
            ss = 7;
            PartialList.GetRowValues(PartialList.GetFocusedRowIndex(), 'TrainNo;Status;', OnGetRowValues);
        }
    }

    function OnGetRowValues(values) {
        selectedIDs = values[0];
        status = values[1];
        if (ss == 1) {
            window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()" + "Details?ID=" + values[0];
        }
        if (ss == 2) {
            if (status == "OPEN") {
                window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()" + "Edit?ID=" + values[0];
            }
            else {
                AlertMessage("@Humica.EF.Models.SY.SYMessages.getMessage("DOC_INV", Humica.EF.MD.SYSession.getSessionUser().Lang)");
            }

        }
        if (ss == 5) {
            if (status == "@Humica.EF.SYDocumentStatus.OPEN.ToString()") {
                ConfirmMessage("@Humica.EF.Models.SY.SYMessages.getMessage("RELEASE_C", Humica.EF.MD.SYSession.getSessionUser().Lang)");
            }
            else {
                AlertMessage("@Humica.EF.Models.SY.SYMessages.getMessage("DOC_INV", Humica.EF.MD.SYSession.getSessionUser().Lang)");
            }
        }
        if (ss == 6) {
            if (status != "@Humica.EF.SYDocumentStatus.OPEN.ToString()" || status != "@Humica.EF.SYDocumentStatus.APPROVED.ToString()"
            || status != "@Humica.EF.SYDocumentStatus.REJECTED.ToString()") {
                ConfirmMessage("@Humica.EF.Models.SY.SYMessages.getMessage("APPROVE_C", Humica.EF.MD.SYSession.getSessionUser().Lang)");
            }
            else {
                AlertMessage("@Humica.EF.Models.SY.SYMessages.getMessage("DOC_INV", Humica.EF.MD.SYSession.getSessionUser().Lang)");
            }
        }
        if (ss == 7) {
            if (status != "@Humica.EF.SYDocumentStatus.OPEN.ToString()" || status != "@Humica.EF.SYDocumentStatus.APPROVED.ToString()"
            || status != "@Humica.EF.SYDocumentStatus.REJECTED.ToString()") {
                ConfirmMessage("@Humica.EF.Models.SY.SYMessages.getMessage("REJECT_C", Humica.EF.MD.SYSession.getSessionUser().Lang)");
            }
            else {
                AlertMessage("@Humica.EF.Models.SY.SYMessages.getMessage("DOC_INV", Humica.EF.MD.SYSession.getSessionUser().Lang)");
            }
        }
    }

    function _clickConfirm(s, e) {
        if (s.GetText() == "@Humica.EF.Models.SY.SYConstant.OK") {
            if (ss == 5) {
                window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()" + "ReleaseDoc?TrainNo=" + selectedIDs;
            }
            if (ss == 6) {
                PopUpRemark.Show();
            }
            if (ss == 7) {
                PopUpRemark.Show();
            }
        }
    }

    function _ConfirmRemark(s, e)
    {
        if (ss == 6) {
            window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()" + "Approve?TrainNo=" + selectedIDs + "&Comment=" + txtComment.GetValue();
            PopUpRemark.Hide();
        }
        if (ss == 7) {
            window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()" + "Reject?TrainNo=" + selectedIDs + "&Comment=" + txtComment.GetValue();
            PopUpRemark.Hide();
        }
    }

    function OnSelectionChanged(s, e) {
        s.GetSelectedFieldValues("ID;", GetSelectedFieldValuesCallback);
    }
    function GetSelectedFieldValuesCallback(values) {
        selectedIDs = "";
        for (var index = 0; index < values.length; index++) {
            selectedIDs += values[index] + ";";
        }
        if (selectedIDs.length > 0) {
            selectedIDs = selectedIDs.substring(0, selectedIDs.length - 1);
        }
    }
    function tabClickCommand1(s, e) {
        index = s.GetActiveTab().index;
        if (index == 1) {
            ID = 1;
            $("#_btnNewAction").hide();
            $("#_bthEditAction").hide();
            $("#_btnImageView").show();
            $("#_btnReleaseAction").hide();
            $("#_mnReject").show();
            $("#_mnApprove").show();
            $("#pageToolbar_DXI1_").hide();
            $("#pageToolbar_DXI0_").hide();
            $("#pageToolbar_DXI3i0_").hide();
            $("#pageToolbar_DXI3i1_").show();
            $("#pageToolbar_DXI3i2_").show();
        }
        else {
            ID = 0;
            $("#_btnNewAction").show();
            $("#_btnImageView").show();
            $("#_bthEditAction").show();
            $("#_btnReleaseAction").show();
            $("#_mnReject").hide();
            $("#_mnApprove").hide();
            $("#pageToolbar_DXI3i1_").hide();
            $("#pageToolbar_DXI3i2_").hide();
            $("#pageToolbar_DXI1_").show();
            $("#pageToolbar_DXI0_").show();
            $("#pageToolbar_DXI3i0_").show();
        }
        
    }
</script>

@model Humica.Training.TrainningObject

<div class="fitler-doc">

</div>

@{
    @Html.DevExpress().PageControl(settings =>
{
    settings.Name = "pcScrollingMaterial1";
    settings.Width = Unit.Percentage(100);

    settings.ClientSideEvents.ActiveTabChanged = "tabClickCommand1";
    settings.ClientSideEvents.Init = "tabClickCommand1";
    settings.EnableTabScrolling = true;
    settings.TabAlign = TabAlign.Justify;
    settings.Styles.Tab.CssClass = "scrolling_Tab";

    settings.TabPages.Add(Humica.EF.Models.SY.SYSettings.getLabel((List<Humica.EF.MD.CFForm>
    )ViewData[Humica.EF.SYSConstant.LIST_CONF_FORM], "List")).SetContent(() =>
    {
        Html.RenderPartial("PartialList1", Model.ListRequestHeader);
    });
    settings.TabPages.Add(Humica.EF.Models.SY.SYSettings.getLabel((List<Humica.EF.MD.CFForm>
    )ViewData[Humica.EF.SYSConstant.LIST_CONF_FORM], "Waiting")).SetContent(() =>
    {
        Html.RenderPartial("PartialList", Model.WaitingListRequestHeader);
    });

}).GetHtml()
}
@Html.Partial("PopUpRemark")